:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: 'Lato', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title-big{
  font-family: 'Meddon', cursive;
}

.text-title-reg{
  font-family: 'Julius Sans One', sans-serif;
}
.text-blue{
  color: var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.details-img{
  max-height: 500px;
}

i.far.fa-envelope{
  font-size: 5rem;
}

.home{
  background-image: url('./img/vino1.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.377);
  height: 90vh;
}
.about{
  background-image: url('./img/vino3.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.377);
  height: 85vh;
}

nav.navbar{
  background: var(--mainBlue) !important;
}

.happy{
  background-color: rgba(255,255,255,0.3);
  border-radius: 50px;
}

button.btn.carto2{
  display: none !important;
}

.nav-link.linko{
  transition: 0.4s;
}

.nav-link.linko:hover{
  letter-spacing: 1px;
}

span.prod{
  color: var(--mainBlue);
  transition: 0.4s;
}

span.prod:link, span.prod:hover{
  letter-spacing: 1px !important;
}

@media screen and (max-width: 600px){
  .happy, h3.mock{
    font-size: 20px;
  }

  .vv, h1.abt{
    font-size: 50px !important;
  }
  
  button.btn.carto1{
    display: none !important;
  }

  button.btn.carto2{
    display: inline !important;
    font-size: 15px;
  }

  .nav-link.linko{
    font-size: 12px !important;
  }

  h5.invite{
    font-size: 15px !important;
  }
}